{% extends 'base.html.twig' %}

{% block title %}Registro Clientes{% endblock %}

{% block body %}
    {{ include('layout/header/index.html.twig') }}
    <div>
        <h1>MODULO DE CLIENTES</h1>
    </div>
    <div>
        <h2>Registrar cliente</h2>
    </div>

    {{ form(registerForm) }}

    <a href="{{ path('cliente') }}">Regresar</a>

{% endblock %}
