{% extends 'base.html.twig' %}

{% block title %}Registro Clientes{% endblock %}

{% block body %}
    {{ include('layout/header/index.html.twig') }}
    <div>
        <h2>Modulo de clientes</h2>
    </div>

    <form>

    </form>

{% endblock %}
