<div class="toolbar">
    <div class="container">
        <div>
            <a class="toolbar-link" href="/cliente">Clientes</a>
        </div>
        <div>
            <a class="toolbar-link" href="/incidencia">Incidencias</a>
        </div>
        {% if name_user != '' %}
            <div>
                <a class="toolbar-link" href="/logout">Cerrar sesion</a>
            </div>
            <div>
                {{ name_user }}
            </div>
        {%  endif %}
        {% if image_user is defined and image_user != ''  %}
            <div>
                <img style="width: 40px; height: 40px" src="{{ asset('uploads/user_images/' ~ image_user) }}">
            </div>
        {%  endif %}
    </div>
</div>
<br/><br/>
